.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  --color-bg: #050505;
  --color-accent: #EB141E;
  --color-text: #FFFFFF;
  --color-glass-border: rgba(255, 255, 255, 0.1);
  --color-glass-bg: rgba(255, 255, 255, 0.05);
}

main {
  flex: 1;
  padding-top: 80px;
}