.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  --color-bg: #000000;
  --color-accent: #00ffaa;
  --color-text: #ffffff;
  --color-glass-border: rgba(0, 255, 170, 0.1);
  --color-glass-bg: rgba(10, 10, 10, 0.8);
}

main {
  flex: 1;
}